<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, clothing, Accessories">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site_info.title}}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link href="{% static 'home/styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'home/styles/elegant-icons.css' %}" rel="stylesheet">
    <link href="{% static 'home/styles/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'home/styles/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'home/styles/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/styles/slicknav.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/styles/style.css' %}" rel="stylesheet">

</head>

<body>
<div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">

        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="{% static 'home/images/icon/search.png' %}" alt=""></a>
            <a href="{% url 'cart' %}"><img src="{% static 'home/images/icon/cart.png' %}" alt=""> <span class="cart_item_count">{% if request.session.cart %} {{ request.session.cart|length }} {% else %} 0 {% endif %}</span></a>
            <div class="price">{% if request.session.cart_price %} {{ request.session.cart_price }} {% else %} 0.0 {% endif %}</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Same day delivery for Orders within Abuja.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">

        <div class="container">
            <div class="row" >
                <div class="col c-lg-3ol-md-3">
                    <div class="header__logo" style="padding:15px">
                        <a href="{% url 'home' %}"><img src="/media/{{site_info.logo}}" style="height:60px;width:120px" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'shop' 'all' %}">Shop</a></li>
                            <li><a href="#">{{site_info.name|capfirst}}</a>
                                <ul class="dropdown">
                                    <li style="padding-left:20px"><a href="{% url 'about' %}">About Us</a></li>
                                    <li style="padding-left:20px"><a href="{% url 'contact' %}">Contact us</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Categories</a>
                                <ul class="dropdown">
                                    {% for cat in full_cate_list %}
                                    <li style="padding-left:20px"><a href="{% url 'shop' cat.title %}">{{ cat.title|capfirst }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            </li>
                            <li><a href="">Cart</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="{% static 'home/images/icon/search.png' %}" alt=""></a>
                        <a href="{% url 'cart' %}"><img src="{% static 'home/images/icon/cart.png' %}" alt=""> <span class="cart_item_count">{% if request.session.cart %} {{ request.session.cart|length }} {% else %} 0 {% endif %}</span></a>
                        <div class="price">{% if request.session.cart_price %} {{ request.session.cart_price }} {% else %} 0.0 {% endif %}</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

{% block 'main' %}{%endblock %}
<div style="position:fixed;bottom:20px;width:100%;height:80px;z-index:100;padding:25px">
	<span><a href="tel:{{ site_info.mobile_1 }}"><i class="fa fa-phone" style="font-size:50px;text-shadow:2px 2px black;color:blue"></i></a></span>
	<span><a href="https://wa.me/{{ site_info.whatsapp }}"><i class="fa fa-whatsapp" style="font-size:50px;text-shadow:2px 2px black;color:green;margin-left:15px"></i></a></span>
	<span><a><i class="fa fa-search search-switch" style="font-size:50px;text-shadow:2px 2px black;margin-left:15px;color:grey"></i></a></span>
	<span><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart" style="font-size:50px;text-shadow:2px 2px black;margin-left:15px;color:grey"></i></a></span>
	
</div>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Our customers are at the heart of our unique business model, and we treat them exceptionally.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            {% for cat in five_cate_list %}
                            <li><a href="{% url 'shop' cat.title %}">{{cat.title|capfirst}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Links</h6>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            <li><a href="{% url 'shop' 'all' %}">Shop Now</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know of any update related to mattress, furniture and bedroom accessories.</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" action="{% url 'pre-search' %}">
                <input type="text" id="search-input" name="search" autocomplete="off" placeholder="Search Product.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->

    <script src="{% static 'home/js/jquery.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'home/js/mixitup.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.add-cart').click(function(){
                pk = $(this).attr('pk')
                status = $(this).attr('status')
                handle = $(this)
                items = $('.cart_item_count').html()
                items_count = parseInt(items)
                cart_price = $('.price').html()
                cart_price = parseInt(cart_price)
                price = $(this).attr('price')
                price = parseFloat(price)
                $.ajax({
                    url: "{% url 'make_cart' %}",
                    data: {
                        'id': pk,
                        'price': price
                    },
                    success: function(data){
                        if(data == 'added'){
                            handle.html('- Remove From Cart')
                            items_count += 1
                            cart_price += price

                        }else if(data == 'removed'){
                            handle.html('+ Add To Cart')
                            items_count -= 1
                            cart_price -= price
                        }
                        $('.cart_item_count').html(items_count)
                        $('.price').html(cart_price)
                    }
                })
            })
        })
    </script>


</body>

</html>